<html><head>
		<meta charset="utf-8">
		<meta name="viewport" content="width-device-width" ,="" initial-scal="1">
		<title>18sadan</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/18sadan.css">
	</head>
	<body>
		<style type="text/css">
			.jumbotron {		
				background-image: url(images/beer.jpg);
				background-size: cover;
				text-shadow: black 0.2em 0.2em 0.2em;
				color: white;	
			}


			/*제휴글씨*/
			.navbar-collapse > .navbar-nav > li > .jeyu {
				color: red;
			}
			.address {
				color: #bbbbbb;
			}


		</style>

		<!--네비게이션바-->
		<nav class="navbar navbar-default" style="margin-bottom: 0px">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><span>18SADAN공식트위터</span><span class="address">&nbsp;https://www.18.com</span>&nbsp;팔로우해주세요</span></a>
				</div>
                <button type="button" class="btn btn-sm btn-default navbar-right"
                		style=" padding-left: 0px;
							    border-left-width: 0px;
							    border-bottom-width: 0px;
							    padding-bottom: 0px;
							    padding-right: 0px;
							    padding-top: 0px;
							    border-top-width: 0px;
							    border-right-width: 0px;
							    margin-right: 0px;
								">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav ">
						<li><a href="#">홈<span class="sr-only"></span></a></li>
						<li><a href="#">출석부</a></li>
						<li><a href="#">공지사항</a></li>
						<li><a href="#">고객문의(회원)</a></li>
						<li><a href="#">고객문의(업소)</a></li>
						<li><a href="#" class="jeyu">제휴문의</a></li>
						<!--드롭다운 메뉴 -->
						<!--<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">회원<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">A</a></li>
								<li><a href="#">B</a></li>
								<li><a href="#">C</a></li>	
							</ul>
						</li>-->
						</ul>
						<!--<form class="navbar-form navbar-left">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="내용을 입력하세요">
							</div>
							<button type="submit" class="btn btn-default">검색</button>
						</form>-->
						<!--<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">접속하기<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">A</a></li>
									<li><a href="#">B</a></li>
								</ul>
							</li>						
						</ul>-->
						<!--드롭다운 메뉴 -->
					</div>
                </button>
				</div>
		</nav>

		<!--네비게이션바-->

		<!--메인화면 점보트론-->
		<!--<div class="container">-->
			<table style="width:1170px;margin:0 auto; padding: 0px; background-color:#bbbbbb " cellspacing="0" cellpadding="0" border="0">
			<colgroup>
			<col width="">
			<col width="120">
			<col width="350">
			<col width="470">
			</colgroup>
			<tbody><tr>
				<td><div class="header_logo"><h1><a href="." onfocus="this.blur()"></a></h1></div></td>
				<td align="left" valign="bottom"><img src="./images/main1.png" border="0"></td>
				<td align="left" valign="bottom"><img src="./images/main2.png" border="0"></td>

				<td align="left" valign="bottom">
					<div style="margin:0 0 5px 30px;">
					<a href="#" onclick="win_open('./event/point_ranking.php', 'point_ranking', 'left=20, top=20, width=400, height=500, scrollbars=1');"><span style="color:#DFE0DF;font-weight:bold;"><img src="./images/main3.png" border="0"></span></a>
					</div>
				</td>
			</tr>
			</tbody></table>
			<!--<div class="jumbotron">
				<h1 class="text-center">18SADAN에 오신것을 환영합니다</h1>
				<p class="text-center">18SADAN은 다양한 정보를 제공합니다</p>
				<p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">18사단 가입하기</a></p>
			</div>-->	
		<!--</div>-->
		<!--메인화면 점보트론-->

		<!-- 푸터 -->
		<footer style="background-color: #000000; color: #ffffff">
			<div class="container">
				<br>
				<div class="row">
					<div class="col-sm-2" style="text-align: center;"><h5>CopyRight © 2018</h5><h5>임진현(JinHyun)</h5></div>
					<div class="col-sm-4">대표자 소개<h4>저는 18SADAN대표 임진현입니다</h4></div>
					<div class="col-sm-2"><h4 style="text-align: center;">네비게이션</h4>
						<div class="list-group">
							<a href="#" class="list-group-item">소개</a>
							<a href="#" class="list-group-item">임원진</a>
							<a href="#" class="list-group-item">업소소개</a>
						</div>	
					</div>
					<div class="col-sm-2"><h4 style="text-align: center;">SNS</h4>
						<div class="list-group">
							<a href="#" class="list-group-item">페이스북</a>
							<a href="#" class="list-group-item">유투브</a>
							<a href="#" class="list-group-item">네이버</a>
						</div>
					</div>
					<div class="col-sm-2"><h4 style="text-align: center;"><span class="glyphicon glyphicon-ok"></span>&nbsp;by 임진현</h4></div>
				</div>
			</div>			
		</footer>
		<!-- 푸터 -->

		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="js/bootstrap.js"></script>

	
</body></html>