<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sadan.eventzone.mapper.Eventzone_Mapper">


	<select id="board_list" resultType="Map">
		select * from (select	truncate(@rn:=@rn+1,0) as rownum, after.*
			from		
		    (select no
			, content
		    , subject
		    , writer
		    , location
		    , recommand
		    , date_format(dates,'%m-%d') dates
		    , business_nm
		    , business_type
		    , hit
		    , secret 
		    from eventzone 
		    where 
		 	business_type = #{business_type}
		    order by no desc
		    ) as after,
		    (select @rn:=0) as R
		    ) aftertable
		    
		    where rownum between #{criteria.startRow} and #{criteria.endRow}
	</select>

	<select id="getRow" resultType="Integer">
	select count(*)
	from eventzone
	where business_type = #{business_type}
	</select>

	<insert id="board_insert" parameterType="String">

		insert into eventzone(
		no
		,content
		,subject
		,writer
		,location
		,recommand
		,dates
		,business_nm
		,business_type
		,hit
		,secret
		) values (
		(select ifnull(max(no),0)+1 from eventzone asdf)
		,#{content}
		, #{subject}
		, #{writer}
		, #{location}
		, '0'
		, now()
		, #{business_nm}
		, #{business_type}
		,'0'
		,#{secret}
		);
	</insert>
	
	<select id="board_read" parameterType="String" resultType="com.sadan.eventzone.model.Eventzone_DTO">
	select 
	 no
	 
		, replace(replace(content,'\r\n',''),'\r','') content	
		, subject
		, writer
		, location
		, recommand
		, date_format(dates,'%Y-%m-%d %H:%i') dates
		, business_nm
		, business_type
		, hit
		, secret
	from eventzone
	where no = #{no}

	</select>
	
	<delete id="board_delete" parameterType="String">
		DELETE FROM eventzone
			WHERE no = #{no}	
	</delete>
	
	<update id="board_modify" parameterType="String">
	UPDATE eventzone SET
		   content = #{content}
		, subject = #{subject}
		, writer = #{writer}
		, location = #{location}
		, business_nm = #{business_nm}
		, business_type = #{business_type}
		, secret = #{secret}
		WHERE no = #{no}	
	</update>
</mapper>