<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sadan.useafter.mapper.Useafter_Mapper">

	<select id="room_Full_list" resultType="Map">
		select * from (select	@rn:=@rn+1 as rownum, after.*
			from		
		    (select no
			, content
		    , subject
		    , writer
		    , location
		    , recommand
		    , date_format(dates,'%m-%d') dates
		    , business_nm
		    , business_type
		    , hit
		    , secret 
		    from useafter 
		    where 
		    1=1
		 	<if test="criteria.business_type != 'n'.toString() and criteria.business_type != null and criteria.business_type != ''.toString()">
		    and  business_type = #{criteria.business_type}
		    </if>
		   	<if test="criteria.location != null and  criteria.location != ''.toString() and criteria.location != 'n'.toString()">
		   	and location = #{criteria.location}
		   	</if>
		    
		    <include refid="search"></include>
		    order by no desc
		    ) as after,
				    (select @rn:=0) as R
				    ) aftertable
				    
				    where rownum between #{criteria.startRow} and #{criteria.endRow}
			</select>
			
			<!-- 검색조건 쿼리 -->
			<sql id="search">
			<if test="criteria.searchType != 'n'.toString() and criteria.searchType != null and criteria.searchType != ''.toString()">
							and 1=0
			<!-- 제목 -->
			<if test="criteria.subject">
				or subject like CONCAT(CONCAT('%',#{criteria.keyword}),'%')
			</if>
			<!-- 내용 -->
			<if test="criteria.content">
				or content like CONCAT(CONCAT('%',#{criteria.keyword}),'%')
			</if>
			<!-- 작성자 -->
			<if test="criteria.writer">
				or writer like CONCAT(CONCAT('%',#{criteria.keyword}),'%')
			</if>
			

		</if>
	</sql>
	
	<!--페이지 쪽수 처리를 위해 전체 데이터의 갯수를 구한다 -->
	<select id="getRow" resultType="Integer">
	select count(*)
	from useafter
	where 
	1=1
	<if test="criteria.business_type != 'n'.toString() and criteria.business_type != null and criteria.business_type != ''.toString()">
	and business_type = #{criteria.business_type}
	</if>
		<if test="criteria.location != null and  criteria.location != '' and  criteria.location != 'n'.toString()">
		   	and location = #{criteria.location}
		</if>
		
		
		<!-- 검색조건 쿼리 -->
			<include refid="search"></include>
	</select>
	
	<insert id="board_insert" parameterType="String">

		insert into useafter(
		no
		,content
		,subject
		,writer
		,location
		,recommand
		,dates
		,business_nm
		,business_type
		,hit
		,secret
		) values (
		(select ifnull(max(no),0)+1 from useafter asdf)
		,#{content}
		, #{subject}
		, #{writer}
		, #{location}
		, '0'
		, now()
		, #{business_nm}
		, #{business_type}
		,'0'
		,#{secret}
		);
	</insert>
	
	
	<!-- 댓글 목록 리스트 -->
	<select id="board_reply_list"  resultType="Map">
select * from (select @rn:=@rn+1 as rownum, use_reply.*
	from
	(select rno
	, no
	, replace(replace(replytext,'\r\n',''),'\r','') replytext
	, replyer
	, date_format(regdate,'%Y-%m-%d %h:%m') regdate
	, date_format(updatedate, '%Y-%m-%d %h:%m') updatedate
	
	from 
	useafter_reply
	where no = #{useafter_DTO.no}) use_reply
	, (select @rn:=0) as R) after_reply
	
	where rownum between #{criteria.startRow} and #{criteria.endRow};
    
		
	
	</select>
	
	<!-- 댓글 카운트 -->
	<select id="getReplyRow" parameterType="String" resultType="Int">
		select count(*) 
		from useafter_reply
		where no = #{useafter_DTO.no}
	</select>
	
	<!-- 게시글 보기 -->
	<select id="board_read" parameterType="String" resultType="com.sadan.useafter.model.Useafter_DTO">
	select 
	 no
	 
		, replace(replace(content,'\r\n',''),'\r','') content	
		, subject
		, writer
		, location
		, recommand
		, date_format(dates,'%Y-%m-%d %H:%i') dates
		, business_nm
		, business_type
		, hit
		, secret
	from useafter
	where no = #{no}

	</select>
	
	<!-- 조회수 증가 +1 -->
	<update id="board_Hit" parameterType="String">
		update useafter SET
		hit = (select * from (select max(hit)+1 from useafter asd) asdf)
		where
		no = #{no}
	</update>
	
	<delete id="board_delete" parameterType="String">
		DELETE FROM useafter
			WHERE no = #{no}	
	</delete>
	
	<update id="board_modify" parameterType="String">
	UPDATE useafter SET
		  content = #{content}
		, subject = #{subject}
		, writer = #{writer}
		, location = #{location}
		, business_nm = #{business_nm}
		, business_type = #{business_type}
		, secret = #{secret}
		WHERE no = #{no}
		
	
	
	</update>
	
	<!-- 추천 수 카운터 -->
	<select id="recom_count" parameterType="String" resultType="Int">
	select count(*) 
	from recommand
	where
	userId = #{userId}
	and b_no = #{useafter_DTO.no}
	and table_nm = #{table_nm}
	and business_type = #{useafter_DTO.business_type}
</select>

	<!-- 추천테이블 삽입 -->
	<insert id="recom_increase" parameterType="String">
	insert into recommand(
	userId
	, b_no
	, table_nm
	, business_type
	
	)values(
	#{userId}
	, #{useafter_DTO.no}
	, #{table_nm}
	, #{useafter_DTO.business_type}
	
	)
	</insert>
	
	<update id="recom_board" parameterType="String">
	update useafter SET
	recommand = (select * from 
							(select ifnull(max(recommand),0)+1 
							from useafter asd 
							where no=#{no} 
							and business_type=#{business_type}
							) asd )
	where
	no =#{no} 
	and business_type = #{business_type}
	</update>


</mapper>

