/* 전체 영역을 통틀어서 스타일 정의 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
	font-family: 'Nanum Gothic';
	font-size: 13px;
    font-weight: normal;      
    color: black;	
}
hr{
	margin : 10px 0;
	border: 0.5px solid #CBCAC7;
}
.writer_hr{
	margin : 3px 0;
	border: 0.5px dotted #CBCAC7;
}
.boardhead{
	color: #000000;
    font-size: 12px;
    border: 1px solid #e1e1dd;
    border-bottom: 1px;
    background: #ffffff url(./images_skin/bgH3.gif) repeat-x left bottom;
    overflow: hidden;
}
.warp_boardhead{
	width : 100%;
}

.warp_boardhead H3{
	    margin: 0;
    float: left;
    padding: 15px 15px 12px 15px;
    font-size: 1.2em;
    background: #ffffff url(./images_skin/lineH3.gif) no-repeat right bottom;
    border-bottom: 3px solid #F58D23;
}
.div_clear{
	clear: both;
}

.warp_bodyall{
	width:100%;
	text-align: center;
	marigin : 0 auto;
	padding : 0px;
}	

.link_button{	
	height:30px;
	float:right;
	margin : 0 2px 5px 0;
}

.link_button:first-child {
	margin-right: 10px;
	
}
.board_body{
	 position: relative;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: normal;
    max-height: 100%;
}

.warp_title{
	 margin: 0;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    color: #333;
    background-color: #F5F6F6 !important;
}

.title{
	float : left;
	margin : 10px;
	clear : both;
	text-align: left;
}
.board_info{
	margin :10px;
	clear : both;
}

.info_bt{
	color : #bbbbbb;
	font-family: '돋움',Dotum,Verdana,applegothic;
	font-size : 11px;
}
.info_st{
	color : #bbbbbb;
	font-family: '돋움',Dotum,Verdana,applegothic;
	font-size : 10px;
}
.warp_writer_info{
	width:100%;
	height : 130px;
	background-color: #F5F6F6 !important;
	
}
.writer_left{
	float : left ;
	width : 40%;
	background-color: #F5F6F6 !important;
	padding-left: 10px;
}

.writer_right{
	float:left;
	width:60%;
	background-color: #F5F6F6 !important;
	padding-right: 10px;
	text-align: left;
}

.span_writer{
	color : #666666;
	font-family: '돋움',Dotum,Verdana,applegothic;
	font-size : 12px;

}

.board_warp{
	    border-bottom: 1px solid #ddd;
}
.sale{
	width : 100%;
	height : 110px;
	margin-top : 20px;
}

.body_content{
	width : 100%;
	overflow: auto;
}

.reply_insert{
	 margin: 0;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    color: #333;
    background-color: #F5F6F6 !important;
}
.reply_text{
	float : left;
	width:79%;
	margin: 5px;
}

.reply_list{
	 margin: 0;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    color: #333;
    background-color: #F5F6F6 !important;
    text-align: left;	
}

.reply_content{
	background-color: white;
}

.reply_info{
	float : left;
	width:70%;
}

.reply_modify{
	float:right;
	width:29%;
	text-align: right;
}

.cursor{
	cursor: pointer;
}
.reply_bt {
	color : #25183f;
	font-family: '돋움',Dotum,Verdana,applegothic;
	font-size : 11px;
	text-align: right;
}
.reply_st {
	color : #d90000;
	font-family: '돋움',Dotum,Verdana,applegothic;
	font-size : 11px;
	text-align: right;
}